name: release-program
run-name: ${{ github.actor }} has executed the action
on:
  push:
    tags: 
      - '*/v[0-9].[0-9].[0-9]*'
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Get and check Tag
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME "
          string="$GITHUB_REF_NAME"
          if [[ $GITHUB_REF_NAME =~ .*"CLI".* ]]; then
            echo "plattform=CLI" >> $GITHUB_ENV
            echo "version=${string:4}" >> $GITHUB_ENV
          elif [[ $GITHUB_REF_NAME =~ .*"BOTH".* ]]; then
            echo "plattform=BOTH" >> $GITHUB_ENV
            echo ${string:5}
          elif [[ $GITHUB_REF_NAME =~ .*"UI".* ]]; then
            echo "plattform=UI" >> $GITHUB_ENV
            echo ${string:3}
          else
            exit 1
          fi

      - name: Build Console
        if: ${{ env.plattform == 'CLI' }}
        run: |
          echo "Plattform is CLI - Running MSBuild to build console..."
          cd $GITHUB_WORKSPACE
          cd LivingTimeConverterConsole
          msbuild LivingTimeConverterConsole.sln -property:Configuration=Release

      - name: Checkout
        uses: actions/checkout@v3 
