name: release-program
run-name: ${{ github.actor }} is releasing the program
on:
  push:
    tags: 
      - '*/v[0-9].[0-9].[0-9]*'
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      version: ""

    steps:
      - name: Get and check Tag
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME "
          if [[ $GITHUB_REF_NAME =~ .*"CLI".* ]]; then
            echo "plattform=CLI" >> $GITHUB_ENV
          else
            echo "plattform=UI" >> $GITHUB_ENV
          fi

      - name: Build Console
        run: |
          echo " ${{ env.plattform }} "

