name: release-program
run-name: ${{ github.actor }} is releasing the program
on:
  push:
    tags: 
      - '*/v[0-9].[0-9].[0-9]*'
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      version: ""
      plattform: ""

    steps:
      - name: Get and check Tag
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME "
          if [[ $GITHUB_REF_NAME == ^\bUI\b$]]; then
            echo "UI" >> $version
            echo $version
